.map {
    margin: 20px auto 0;

    &__container {
        display: flex;
        flex-wrap: wrap;
    }

    &__wrapper {
        flex-basis: 50%;
    }

    &__list {
        flex-basis: 50%;
        padding-left: 10px;

        &-header, &-item {
            margin-bottom: 10px;
            padding: 10px;
            border-radius: 5px;
            background-color: #d6d6d6;
            color: #465488;
            cursor: pointer;
        }
    }

    &__header {
        position: relative;
        margin-bottom: 10px;
        padding: 10px;
        border-radius: 5px;
        background-color: #d6d6d6;
        color: #465488;
        cursor: pointer;

        &::after {
            content: '';
            position: absolute;
            right: 15px;
            top: calc(50% - 5px);
            top: 50%;
            width: 15px;
            height: 15px;
            border-right: 2px solid #465488;
            border-bottom: 2px solid #465488;
            transform: rotate(45deg) translate(-10px, -8px);
            transition: transform .3s;
        }
    }

    &__button {
        position: relative;
        padding: 0;
        margin: 0;
        background-color: #d6d6d6;
        width: 39px;
        height: 39px;
        border-radius: 50%;
        border: none;
        cursor: pointer;
        outline: none;

        &::before, &::after {
            content: '';
            position: absolute;
            top: calc(50% - 10px);
            left: 18.5px;
            width: 2px;
            height: 20px;
            background-color: #00a500;
            transition: transform .3s, background-color .3s;
        }

        &::after {
            transform: rotate(90deg);
        }

        &-remove {
            &::before {
                background-color: #730101;
                transform: rotate(45deg);
            }

            &::after {
                background-color: #730101;
                transform: rotate(135deg);
            }
        }
    }
}

.ymap-container {
    height: 100%;

    div[class$="-map"] {
        height: 100%;
    }
}
