.table {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border: 3px solid #ff0076;
    border-radius: 8px;

    &__line {
        display: flex;
        width: 100%;
        background-color: #1b002f;
        border-radius: 5px;
        margin-bottom: 20px;
        padding: 10px 10px 0;

        &-fields {
            display: flex;
            flex-wrap: wrap;
            flex-basis: 87%;
        }

        &-navigation {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-basis: 13%;
        }

        &:last-child {
            margin: 0;
        }
    }

    &__field {
        display: flex;
        flex-grow: 1;
        margin-bottom: 10px;
        margin-right: 10px;
        padding: 10px;
        border-radius: 5px;
        background-color: #d6d6d6;
        color: #465488;

        &-wide {
            flex-basis: 100%;
        }

        &-label {
            position: relative;
            color: #7e7ebf;

            &:after {
                content: '|';
                margin: 0 10px;
            }
        }
    }

    &__button {
        margin-bottom: 10px;
        padding: 10px 15px;
        background-color: transparent;
        color: #ff0076;
        border: 2px solid #ff0076;
        border-radius: 5px;
        text-transform: uppercase;
        font-weight: bold;
    }
}
