@import '../components/table.scss';
@import '../components/map.scss';

.mainpage {

    &__success {
        margin: 20px auto;
        width: 100%;
        max-width: 768px;
        background: #1b002f;
        padding: 20px;
        border-top: 2px solid #ff0076;

        &-message {
            margin-bottom: 20px;
            color: #ff0076;
        }

        &-button {
            width: 100%;
            padding: 10px;
            background: transparent;
            border: 2px solid #ff0076;
            border-radius: 5px;
            color: #ff0076;
            text-transform: uppercase;
            font-weight: bold;
            text-align: center;
            cursor: pointer;
        }
    }
}
